<div class="alert alert-{{type}} alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{header}}</strong> 
    <p>{{message}}</p>
</div>