<div class="col-md-12 menu-wrap">
   <div id="menubar"></div>
    <div id="tool-palette" class="tab-pane active"></div>
</div>
<div class="container-fluid center-block">
    <div id="content-wrapper">
       
    </div>
</div>