<div class="row" id="prooftree-container">
    <div class="col-md-12">
        <div id="toolbox" >
            <div class="col-md-12">
                <div class="input-group input-group-sm" id="command-group">
<!--                                    <input type="text" id="txtCommand" class="form-control" placeholder="Enter PVS command here"/>-->
                    <div id="txtCommand"></div>
                    <span id="send" class="input-group-addon">Send</span>
                </div>
            </div>
        </div>

        <div id="proofTree"></div>

    </div>

</div>  