 <div class="row" id="sequent-container">
    <div  class="col-md-12" id="info-div">
        <ul class="nav nav-tabs">
            <li id="console-tab" class="active"><a href="#current-sequent" data-toggle="tab">Current Sequent</a></li>
            <li id="console-tab"><a href="#console" data-toggle="tab">Console</a></li>
        </ul>
        <div id="bottom-panel" class="tab-content">
            <div id="current-sequent" class="tab-pane active"></div>
            <div id="console" class="tab-pane">
                <ul id="console-list" class="list-group">

                </ul>
            </div>
        </div>
    </div>    
</div>