 <div class="panel panel-primary  center-block" id="setup-group">
     <div class="panel-heading">
        <h3 class="panel-title">{{SETUP}}</h3>
     </div>
    <div class="panel-body">
        <div id="remote-files"></div>        
        <div class="input-group input-group-sm form-group">
            <span  class="input-group-addon">{{FORMULA}}</span>
            <input type="text" id="txt-formula" class="form-control input-sm" placeholder="" value="dn_button_predictable"/>
        </div>
        <button id="prove-formula"` type="button" class="btn btn-primary btn-sm">{{PROVE_FORMULA}}</button>    
    </div>
</div>