 <div class="panel panel-primary  center-block" id="setup-group">
     <div class="panel-heading">
        <h3 class="panel-title">Setup</h3>
     </div>
    <div class="panel-body">
        <div class="input-group input-group-sm form-group">
            <span id="change-context" class="input-group-addon">Context</span>
            <input type="text" id="txt-context" class="form-control" placeholder="set source folder" value="../examples"/>
        </div>
        <div class="input-group form-group">
            <span id="typecheck" class="input-group-addon">Theory</span>
            <div class="input-group-btn input-group-sm" id="theory-files">
                <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                    <span class="filename"> Select File </span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" >

                </ul>
            </div>
        </div>
        <div class="input-group input-group-sm form-group">
            <span  class="input-group-addon">Formula</span>
            <input type="text" id="txt-formula" class="form-control input-sm" placeholder="" value="dn_button_predictable"/>
        </div>
        <button id="prove-formula"` type="button" class="btn btn-primary btn-sm">Prove Formula</button>    
    </div>
</div>