<div  id="toolbox-palette">
    <h5>Commands</h5>
    {{#each this}}
        <div title="{{label}}" class="panel-collapse collapse in" id="{{id}}">
                {{#each children}}
                    {{tool this}}
                {{/each}}
        </div>
    {{/each}}
</div>