 path {
     fill: none;
     stroke: #888;
 }
 .collapsed,
 .selected.collapsed {
     fill: #87adf5;
 }
 circle:hover {
     fill: #beb6b6;
 }
 .selected {
     stroke: #eb9d48;
     fill: #beb6b6;
     stroke-width: 2px;
 }
 .dragging {
     stroke: red;
     fill: red;
 }
 path.dragging {
     fill: none;
 }

.nodelabel {
    background: rgb(236, 217, 217);
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 40px;
    border: 1px solid rgb(187, 175, 181);   
}