 path {
     fill: none;
     stroke: #888;
     stroke-width: 3px;
     stroke-opacity: 0.8;
     stroke-dasharray: 10,5;
 }
 .collapsed,
 .selected.collapsed {
     fill: #87adf5;
 }
 circle:hover {
     stroke-width: 3px;
 }

.node circle.command {
    fill: #944;
}

circle.ghost {
    opacity: 0.6;
    stroke-width: 3px;
    stroke-opacity: 1;
}

 .node circle.selected {
     stroke: #e31cea;
     stroke-width: 4px;
 }
 .dragging {
     stroke: red;
     fill: red;
 }
 path.dragging {
     fill: none;
 }

.node circle{
    fill: #9da39d; 
    stroke: green;
}

.node circle.collapsed {
    stroke-width: 4px;   
}

.nodelabel {
    background: rgb(236, 217, 217);
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 40px;
    border: 1px solid rgb(187, 175, 181);  
    display: none;
}

.button text {
    alignment-baseline: text-before-edge;   
}

.active circle {
    fill: #e31cea;
    stroke-width: 4px;
}

path.active {
    stroke-dasharray: none;   
}